img {
        display: block;
        margin: 0 auto;
        width: 25%;
        border: 5px solid black; /* Added border style */
    }
    
.meme {
        padding: 10px;
        margin: 10px;
        width: 25%;
    }
    
.meme img {
        max-width: 100%;
        height: auto;
    }
    
.meme h1 {
        color: #FFFFFF;
        font-size: 20px;
        font-family: sans-serif;
    }
    
.meme p {
        color: #FFFFFF;
        font-size: 16px;
        font-family: sans-serif;
    }
    
.meme.miami {
        background: linear-gradient(90deg, #FF00CC, #00FFCC); /* Added background gradient */
    }
