.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 250px);
    grid-template-rows: repeat(4, 250px);
  }

  .grid-item {
    background-color: #6699cc; /* light blue */
    transition: all 0.5s ease;
  }
  
  .grid-item:hover {
    background-color: #ffcc99; /* peach */
    border-radius: 50%;
    transition: all 0.5s ease;
  }
  
  #div1:hover {
    background-color: #ff9999; /* pink */
  }
  
  #div2:hover {
    background-color: #66cc99; /* light green */
  }
  
  #div3:hover {
    background-color: #9966cc; /* purple */
  }
  
  #div4:hover {
    background-color: #cc9966; /* light orange */
  }
  
  #div5:hover {
    background-color: #cc6699; /* light purple */
  }

  
#div6:hover {
    background-color: #00ff7f; /* light green */
  }
  
  #div7:hover {
    background-color: #ff8000; /* orange */
  }
  
  #div8:hover {
    background-color: #ffd700; /* yellow */
  }
  
  #div9:hover {
    background-color: #8000ff; /* purple */
  }
  
  #div10:hover {
    background-color: #ffa500; /* orange */
  }

  #div11:hover {
    background-color: #ffc0cb; /* pink */
  }
  
  #div12:hover {
    background-color: #8a2be2; /* blue violet */
  }
  
  #div13:hover {
    background-color: #006400; /* dark green */
  }
  
  #div14:hover {
    background-color: #800000; /* maroon */
  }
  
  #div15:hover {
    background-color: #ffa07a; /* light salmon */
  }
  
  #div16:hover {
    background-color: #008080; /* teal */
  }
  
  #div17:hover {
    background-color: #2f4f4f; /* dark slate gray */
  }
  
  #div18:hover {
    background-color: #ff00ff; /* magenta */
  }
  
  #div19:hover {
    background-color: #9acd32; /* yellow green */
  }
  
  #div20:hover {
    background-color: #00ffff; /* cyan */
  }
  
  #div21:hover {
    background-color: #b22222; /* fire brick */
  }

  #div22:hover {
    background-color: #4b0082; /* indigo */
}

#div23:hover {
    background-color: #f5deb3; /* wheat */
}

#div24:hover {
    background-color: #ff69b4; /* hot pink */
}